{% extends "base.html" %}

{% block title %}
Login - GeoGuard AI
{% endblock %}

{% block content %}

<div style="max-width:500px;margin:auto;">

    <div class="card">

        <h1>Welcome Back</h1>

        <p class="muted">
            Sign in to your GeoGuard AI account.
        </p>

        <form
            action="{{ url_for('auth.login') }}"
            method="POST"
        >

            <label>
                Email Address
            </label>

            <input
                type="email"
                name="email"
                value="{{ email or '' }}"
                required
                placeholder="name@example.com"
            >

            <label>
                Password
            </label>

            <input
                type="password"
                name="password"
                required
                placeholder="••••••••"
            >

            <button type="submit"
                    style="width:100%;">
                Login
            </button>

        </form>

        <p class="muted"
           style="text-align:center;margin-top:20px;">

            Don't have an account?

            <a href="{{ url_for('auth.register') }}">
                Register
            </a>

        </p>

    </div>

</div>

{% endblock %}